@media screen and (max-width: 600px){
    .div1{
    flex-direction: column;
    height: 600px;
    width: 550px;
    align-items: center;
    }
    main{
      flex-direction: column;
     align-items: center;
     width: 100%;
    }
    .sec1{
        margin: 0%;
        width: 80%;
        display: flex;
        flex-direction:column;
        align-content: center;
    }
    .sec2{
        margin: 0%;
        width: 80%;
        display: flex;
        flex-direction:column;
     align-content: center;
    }
main div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
} 

